*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.gray-footer{
    background-color: rgb(40, 40, 40);
    height: 450px;
    width: 1582px;
    position: absolute;
    margin-top: 0.4px;
    font-size: 47px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
    line-height: 80px;
}
#gray-footer{
    color: white;
    margin-left: 140px;
    margin-top: 150px;
}
.side-text{
    position: absolute;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 17px;
}
#side-text{
    color: white;
    margin-top: 170px;
    margin-left: 800px;
}
input[type="button"]{
    background-color: yellow;
    font-weight: 800;
    font-stretch: ultra-expanded;
    padding: 13px;
    margin-top: 8px;
    margin-left: 800px;
    border: none;
}
.b-footer{
    background-color: black;
    margin-top: 450px;
    height: 200px;
    width: 1582px;
    position: relative;
}
#l-i{
    margin-left: 150px;
    height: 75px;
    margin-top: 50px;
    position: absolute;
}
#rights{
    position: absolute;
    color: white;
    margin-left: 250px;
    margin-top: 75px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 25px;
}
#beside-rights{
    position: absolute;
    color: white;
    margin-left: 580px;
    margin-top: 75px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 25px;
}
.fa-square-facebook{
    position: absolute;
    margin-left: 880px;
    margin-top: 75px;
    font-size: 37px;
}
.fa-linkedin-in{
    position: absolute;
    margin-left: 940px;
    margin-top: 75px;
    font-size: 37px;
}
.fa-instagram{
    position: absolute;
    margin-left: 1000px;
    margin-top: 75px;
    font-size: 37px;
}
.second{
    background-color: rgb(255, 255, 255);
    position: absolute;
    color: black;
    margin-top: 100px;
    width: 1585px;
    height: 100px;
}
#second2{
    font-family: Tahoma, sans-serif;
    font-size: 41px;
    line-height: 54px;
    width: 840px;
    font-weight: 800;
    margin-left: 600px;
    margin-top: 37px;
}
.banner{
    height: 585px;
    background-color: rgb(40, 40, 40);
    position: relative;
    margin-top: 370px;
    overflow: hidden;
}
.banner > img{
    margin-left: 710px;
    float: right;
    height: 585px;
    width: 930px;
    position: absolute;
}
.banner > h1{
    color: white;
    height: 460px;
    position: absolute;
    padding-top: 117px;
    padding-left: 152px;
    font-size: 39px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
} 
.banner > p{
    font-family: Tahoma, sans-serif;
    text-wrap: wrap;
    width: 355px;
    line-height: 36px;
    font-size: 17px;
    margin-top: 180px;
    margin-left: 152px;
    color: white;
    font-weight: 500;
    position: absolute;
}
.banner02{
    height: 560px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}
.banner02 > img{
    float: left;
    height: 560px;
    width: 930px;
    position: absolute;
}
.banner02 > h1{
    color: rgb(0, 0, 0);
    height: 460px;
    position: absolute;
    padding-top: 125px;
    padding-left: 1010px;
    font-size: 39px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
} 
.banner02 > p{
    font-family: Tahoma, sans-serif;
    text-wrap: wrap;
    width: 385px;
    line-height: 38px;
    font-size: 17px;
    margin-top: 200px;
    margin-left: 1010px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    position: absolute;
}
.banner03{
    height: 555px;
    background-color: yellow;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}
.banner03 > img{
    margin-left: 610px;
    float: right;
    height: 555px;
    width: 980px;
    position: absolute;
}
.banner03 > h1{
    color: rgb(0, 0, 0);
    height: 460px;
    position: absolute;
    padding-top: 117px;
    padding-left: 152px;
    font-size: 39px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
} 
.banner03 > p{
    font-family: Tahoma, sans-serif;
    text-wrap: wrap;
    width: 355px;
    line-height: 36px;
    font-size: 17px;
    margin-top: 180px;
    margin-left: 152px;
    color: rgb(0, 0, 0);
    font-weight: 530;
    position: absolute;
}
.banner04{
    height: 425px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}
.banner04 > img{
    height: 425px;
    width: 1585px;
    position: absolute;
}
.banner04 > h1{
    color: rgb(255, 255, 255);
    height: 460px;
    position: absolute;
    padding-top: 157px;
    padding-left: 642px;
    font-size: 39px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
} 
.banner04 p{
    font-family: Tahoma, sans-serif;
    text-wrap: wrap;
    font-weight: bolder;
    width: 202px;
    font-size: 17px;
    margin-top: 230px;
    margin-left: 682px;
    color: rgb(255, 255, 255);
    font-weight: 530;
    position: absolute;
    transition: all 0.1s ease-in-out;
    line-height: 0;
    border-bottom: solid 2px yellow;
}
.banner04 a{
    color: white;
    font-weight: bolder;
}
.banner04 a:hover{
    color: rgb(0, 0, 0);
    border: none;
    background-color: yellow;
}
